

<div class="container">
<h1>Add a new ingredient</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.input :description %>
  <%= f.submit "Add an ingredient", class: "btn btn-primary" %>
<% end %>
<%= link_to "Go back to the list", cocktails_path, class: "btn btn-primary" %>
</div>
